body{
    margin: 0;
    background-image: url("img/1.gif");
    /* 사진 한개로 만들기 */
    background-repeat: no-repeat;
    /* 화면 채우기 */
    background-size: cover;
    color: white;
}

.container {
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container a {
    margin-left: auto;
    margin-right: 5em;
    float: right;
    color: yellow;
}


.task-tabs {
    /* 세로 -> 가로 */
    display: flex;
    position: relative;
    border-bottom: 1px solid white;
}

.task-tabs div {
    padding: 1em;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 2px;
}

.task-done{
    text-decoration: line-through;
}

#under-line{
    /* 위치 겹치기 */
    position: absolute;
    background-color: lightyellow;
    height: 2px;
    width: 75px;
    left: 0px;
    top: 48px;
    padding: 0px;
}

.task-tabs div{
    cursor: pointer;
}


/* 기본 버튼 스타일 없애기 */
button {
    background-color: transparent;
    border: none;
}